*{
    margin: 0;
}

html{
    font-size: 10px; /* 1rem = 10px */
}

body{
    /* background-color: blueviolet; */
    height: 100vh;
}

.abs{
    /* border: 2px solid white; */
    background-color: aqua;
    width: 10cm;
}

.div2{
    /* border: 2px solid white; */
    background-color: chocolate;
    width: 50%;
    height: 50%;
}

.div3{
    /* border: 2px solid white; */
    background-color: yellow;
    width: 50rem;
    height: 20vh;
}

.div4{
    /* border: 2px solid white; */
    background-color: magenta;
    width: 50vw;
}

.div5{
    font-size: 1em; /* 16px */
}

.div6{
    font-size: 2em; /* 32px */
}

.div7{
    font-size: 0.5em; /* 16px */
}

.div8{
    font-size: 1rem; /* 16px */
}

.div9{
    font-size: 2rem; /* 32px */
}

.div10{
    font-size: 3rem; /* 48px */
}

