/******* ANIMATION INTRO *******/

.outer {
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.inner {
    background-color: cadetblue;
    width: 50%;
    height: 50%;
    /* transition: all 1s cubic-bezier(0, 1.38, 0, 1.18); */
    /* transition: all 1s; */
}

.outer:hover .inner {
    /* transform: translateX(100%);
    background-color: chartreuse; */

    animation: travel 1s ease-in-out;
    /* animation-iteration-count: 4; */
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;
    animation-delay: -0.5s;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/*? Keyframe animasyon noktalarının zamanlarının tanımlanmasını sağlar */
/*? % ve from-to şeklinde kullanılabilir */
@keyframes travel {

    /*! Başlangıç konumu */
    0% {
        transform: translateX(0);
    }

    /*! başlangıca göre 100 birim aşağısı */
    33% {
        transform: translateY(100%);
    }

    66% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translateX(100%);
    }
}