*{
    /* margin: 0; */
    box-sizing: border-box;
}

h1{
    background-color: aquamarine;
    /* margin-bottom: 0; */
    padding: 20px 40px;
}

#par1{
    border: 50px solid blue;
    background-color: coral;
    /* margin-top: 0; */
    width: 250px;
    /* height: 120px; */
    margin: 50px auto;
    padding: 20px;
}

#par2{
    background-color: rgba(100, 148, 237, 0.384);
    /* margin: inherit; */
    /* margin-top: -0px; */
    padding-left: 20px;
    padding-top: 25px;
}

.container{
    background-color: bisque;
    /* border: 2px solid red; */
    margin: 30px;
}